.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}

.content {
  max-width: 600px;
}

.about-me_subtitle {
  line-height: 1.1;
}

.name {
  color: #d9a441;
  font-weight: 200;
  max-width: 300px;
  font-size: 100px;
}

.role {
  color: #2e2e2e;
  font-size: 60px;
  font-weight: 700;
}

ul {
  margin: auto;
  list-style: none;
  margin-top: 20px;
}

li {
  font-size: 18px;
  margin-bottom: 18px;
  text-align: left;
}

.preview {
  width: 100px;
  height: 500px;
  background: #2e2e2e;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
}