/* CARDS  */

.title {
  font-size: 100px;
  font-weight: 900;
  color: #2e2e2e;
  line-height: 1.1;
}

.cards {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  position: relative;

  display: flex;
  align-items: center;
  text-align: center;

  background-color: var(--light);
  border-radius: var(--radius);

  min-width: 250px;
  margin-top: 110px;
  padding: 10px;
  flex: 1;
}

.card p {
  margin-top: 55px;
  font-size: 30px;
  color: #2e2e2e;
  font-weight: 10;
  line-height: 1.4;
}

.icon {
  top: -70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.icon img {
  height: 200px;
}
